---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="NerfThis Tools">
  <div class="px-6 py-12 my-12 text-center">
    <h1 class="text-5xl font-bold mb-5">Hi there 👋</h1>
    <div class="text-xl font-light lg:w-1/2 mx-auto">
      <p class="mb-5">
        This website was built with the end goal of providing a small collection
        of simple tools to make life on the web a tiny bit easier. At least for
        myself.
      </p>
      <p>Maybe one day I'll finish it.</p>
    </div>
  </div>
</Layout>
