---
import Layout from '../layouts/Layout.astro';

const xRealIp = import.meta.env.DEV ? '127.0.0.1' : Astro.request.headers.get('X-Real-Ip') ?? '';
const xForwardedFor = Astro.request.headers.get('X-Forwarded-For') ?? '';

const ipAddr = xRealIp || xForwardedFor.split(',')[0];
---

<Layout title="IP - NerfThis Tools">
  <main>
    <h1>IP Address</h1>

    <ul>
      <li>{ipAddr}</li>
    </ul>
  </main>
</Layout>
